@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif, acorn;
  scroll-behavior: smooth;
}

:root {
  --titleFont: acorn, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --bodyFont: "gt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ampFont: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
  --systemFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --monoFont: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", monospace;
  --color-white: hsla(0, 0%, 100%, 1);
  --color-white50: hsla(0, 0%, 100%, 0.5);
  --color-white20: hsla(0, 0%, 100%, 0.2);
  --color-white30: hsla(0, 0%, 100%, 0.3);
  --color-backdrop: hsla(45, 17%, 95%, 0.8);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-blue: hsla(204, 97%, 54%, 1);
  --color-lightblue: hsla(208, 90%, 40%, 1);
  --color-lightgrey: hsla(0, 0%, 97%, 1);
  --color-mint: hsla(172, 45%, 75%, 1);
  --color-lilac: hsla(227, 65%, 87%, 1);
  --color-rust: hsla(22, 62%, 76%, 1);
  --color-babyblue: hsla(206, 84%, 86%, 1);
  --color-pink: hsla(284, 61%, 74%, 1);
  --color-dark: hsla(0, 0%, 9%, 1);
  --color-hilite: hsla(172, 95%, 18%, 1);
  --color-hilite-off: hsla(172, 95%, 18%, 0);
  --color-white-flash: hsla(0, 0%, 100%, 0.5);
  --color-beige: hsla(36, 31%, 90%, 1);
  --color-green300: hsla(159, 42%, 88%, 1);
  --color-green400: hsla(160, 52%, 71%, 1);
  --color-green500: hsla(172, 95%, 18%, 1);
  --color-green600: hsla(171, 15%, 35%, 1);
  --color-green700: hsla(171, 11%, 24%, 1);
  --color-green800: hsla(158, 23%, 18%, 1);
  --color-yellow500: hsla(36, 97%, 70%, 1);
  --color-yellow600: hsla(36, 74%, 25%, 1);
  --color-yellow700: hsla(36, 91%, 13%, 1);
  --spectrum-purple-200: hsla(261, 78.7%, 81.6%, 1);
  --spectrum-purple-600: hsla(267, 43%, 44.7%, 1);
  --spectrum-clay-400: #ded5d1;
  --spectrum-clay-500: #c2b4ac;
  --proto-bg-primary: #fff;
  --proto-bg-secondary: #ede8e6;
  --color-gradient: linear-gradient(
    to bottom,
    hsla(36, 31%, 90%, 0) 0%,
    hsla(36, 31%, 90%, 0.013) 9.7%,
    hsla(36, 31%, 90%, 0.049) 18.1%,
    hsla(36, 31%, 90%, 0.104) 25.5%,
    hsla(36, 31%, 90%, 0.175) 31.9%,
    hsla(36, 31%, 90%, 0.259) 37.7%,
    hsla(36, 31%, 90%, 0.352) 43%,
    hsla(36, 31%, 90%, 0.45) 47.9%,
    hsla(36, 31%, 90%, 0.55) 52.8%,
    hsla(36, 31%, 90%, 0.648) 57.7%,
    hsla(36, 31%, 90%, 0.741) 63%,
    hsla(36, 31%, 90%, 0.825) 68.7%,
    hsla(36, 31%, 90%, 0.896) 75%,
    hsla(36, 31%, 90%, 0.951) 82.2%,
    hsla(36, 31%, 90%, 0.987) 90.5%,
    hsl(36, 31%, 90%) 100%
  );
  --color-text-primary: var(--color-green500);
  --color-text-secondary: var(--color-green600);
  --color-text-tertiary: var(--color-beige);
  --color-text-quarterly: var(--color-green300);
  --color-text-hilite: var(--color-green400);
  --color-text-active: var(--color-white);
  --color-text-bold: var(--color-green700);
  --color-text-contrast: var(--color-green800);
  --color-text-ai: var(--spectrum-purple-600);
  --color-primary: var(--color-beige);
  --color-primary-accent: var(--color-green500);
  --color-primary-border: var(--color-white);
  --color-tertiary: var(--color-green300);
  --color-opaque: hsla(0, 0%, 100%, 0.5);
  --color-selector: var(--color-white);
  --color-light: var(--color-white);
  --color-light-border: rgba(0, 0, 0, 0.1);
  --color-white-border: rgba(0, 0, 0, 0.1);
  --color-light-hover: rgba(0, 0, 0, 0.05);
  --color-white-hover: rgba(0, 0, 0, 0.05);
  --color-dark: var(--color-black);
  --color-dark-border: rgba(255, 255, 255, 0.1);
  --canvas-opacity: 0.5;
  --font-h1: clamp(3.2rem, 0.5692rem + 8.238vw, 13.75rem);
  --font-h2: clamp(1.5rem, 1.0982rem + 1.7143vw, 2.8125rem);
  --font-h3: clamp(1.375rem, 1.1837rem + 0.8163vw, 2rem);
  --font-h4: clamp(1.375rem, 1.1837rem + 0.8163vw, 1.6rem);
  --font-h5: clamp(1rem, 0.9235rem + 0.3265vw, 1.25rem);
  --font-h6: clamp(1rem, 0.9617rem + 0.1633vw, 1.125rem);
  --font-body: clamp(1rem, 0.8852rem + 0.4898vw, 1.375rem);
  --font-link: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);
  --font-mini: clamp(0.875rem, 0.8367rem + 0.1633vw, 1rem);
  --font-h2-display: clamp(1.875rem, 1.301rem + 2.449vw, 3.95rem);
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --24px: 1.5rem;
  --42px: 2.652rem;
  --64px: 4rem;
  --spacing-xxl: max(
    130px,
    calc(130px + (260 - 130) * ((100vw - 375px) / (1600 - 375)))
  );
  --spacing-xl: max(
    var(--64px),
    calc(var(--64px) + (128 - 64) * ((100vw - 375px) / (1600 - 375)))
  );
  --spacing-l: max(
    var(--42px),
    calc(var(--42px) + (84 - 42) * ((100vw - 375px) / (1600 - 375)))
  );
  --spacing-m: max(
    var(--24px),
    calc(var(--24px) + (48 - 24) * ((100vw - 375px) / (1600 - 375)))
  );
  --spacing-s: max(
    var(--21px),
    calc(var(--21px) + (42 - 21) * ((100vw - 375px) / (1600 - 375)))
  );
  --spacing-xs: max(
    var(--14px),
    calc(var(--14px) + (28 - 14) * ((100vw - 375px) / (1600 - 375)))
  );
  --spacing-xxs: max(
    calc(var(--14px) / 2),
    calc((var(--14px) / 2) + (14 - 7) * ((100vw - 375px) / (1600 - 375)))
  );

  --paddin: var(--spacing-l) 0 calc(var(--spacing-l) + var(--42px));
  --max-width: 1600px;
  --transition-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transition-ease: ease-in-out;
  --shadow-lg: 0px 50px 100px -20px rgba(0, 0, 0, 0.15);
  --zindex-base: 1;
  --zindex-2: 2;
  --zindex-content-lower-2: 40;
  --zindex-content-lower-1: 45;
  --zindex-content: 50;
  --zindex-top: 100;
  --zindex-nav: 1000;
  --zindex-nav-menu: 1010;
  --zindex-modal: 2000;
  --radius-base: 0.75rem;
  --app-color-white: #ffffff;
  --app-color-blue100: #f3fbff;
  --app-color-blue200: #d6edff;
  --app-color-blue300: #a0d4ff;
  --app-color-blue400: #57b0fb;
  --app-color-blue500: #1292ee;
  --app-color-blue600: #0077cc;
  --app-color-blue700: #005ca4;
  --app-color-blue800: #034077;
  --app-color-grey200: #f9fafa;
  --app-color-grey300: #f1f3f5;
  --app-color-grey400: #e5e9ec;
  --app-color-grey500: #d5dce1;
  --app-color-grey600: #c5ced6;
  --app-color-grey700: #b7c2cc;
  --app-color-grey800: #a5b2bd;
  --app-color-charcoal200: #93a1b0;
  --app-color-charcoal300: #748494;
  --app-color-charcoal400: #556575;
  --app-color-charcoal500: #405261;
  --app-color-charcoal600: #314351;
  --app-color-charcoal700: #253642;
  --app-color-charcoal800: #1d2b36;
  --app-color-yellow100: #fff9ef;
  --app-color-yellow200: #fff2d7;
  --app-color-yellow300: #ffe7b8;
  --app-color-yellow400: #fdd88e;
  --app-color-yellow500: #ffc555;
  --app-color-yellow600: #fab347;
  --app-color-yellow900: #b24319;
  --app-color-green200: #e3fbee;
  --app-color-green500: #56c288;
  --app-color-green600: #39ac6e;
  --app-color-green700: #268c55;
  --app-color-green750: #248451;
  --app-color-green800: #106236;
  --app-color-indigo200: #dfe7ff;
  --app-color-purple100: #f9f9ff;
  --app-color-purple200: hsla(237, 100%, 96%, 1);
  --app-color-lavender200: #ebecff;
  --color-doodler-white: #fff;
  --color-doodler-grey: #fcfcfc;
  --color-doodler-border: rgba(0, 0, 0, 0.1);
  --color-doodler-active: #007aff;
  --color-doodler-base-grey: #636366;
  --color-doodler-base-green: #56c288;
  --color-doodler-base-indigo: #527ceb;
  --color-doodler-purple: #6e56cf;
  --color-doodler-purple-dark: #5746af;
  --color-doodler-lavender: #e4defc;
  --color-doodler-base-yellow: #ffc555;
  --color-doodler-base-pink: #f23459;
  --color-doodler-base-black: #444444;
  --doodler-radius-menu: 13px;
  --doodler-radius-md: 6px;
  --doodler-radius-lg: 20px;
  --dm-dark-500: #1c1c1e;
  --dm-dark-400: #2c2c2e;
  --dm-dark-300: #3a3a3c;
  --dm-dark-200: #48484a;
  --dm-dark-100: #636366;
  --dm-black: #161616;
  --dm-blur: rgba(28, 28, 30, 0.7);
  --dm-light-300: #8e8e93;
  --dm-light-200: #aeaeb2;
  --dm-light-100: #c7c7cc;
  --dm-blue: #57b0fb;
  --dm-blue-dark: #22282e;
  --dm-yellow: #ffc555;
  --dm-yellow-dark: #29241a;
  --dm-green: #56c288;
  --dm-green-dark: #172920;
  --dm-red: #fc5d7d;
  --dm-red-dark: #332024;
  --dm-purple: #9fa6ff;
  --dm-purple-dark: #24242e;
  --dm-indigo: #527ceb;
  --dm-indigo-dark: #202739;
  --curve: cubic-bezier(0, 0.49, 0, 1.49);
  --curve-timing: 0.35s;
  --shadow-menu: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.light:root {
  --color-text-primary: var(--color-green500);
  --color-text-secondary: var(--color-green600);
  --color-text-tertiary: var(--color-beige);
  --color-text-quarterly: var(--color-green300);
  --color-text-hilite: var(--color-green400);
  --color-text-active: var(--color-white);
  --color-text-bold: var(--color-green700);
  --color-text-contrast: var(--color-green800);
  --color-text-ai: var(--spectrum-purple-600);
  --color-primary: var(--color-beige);
  --color-primary-accent: var(--color-green500);
  --color-primary-border: var(--color-white);
  --color-tertiary: var(--color-green300);
  --color-opaque: hsla(0, 0%, 100%, 0.5);
  --color-selector: var(--color-white);
  --color-light: var(--color-white);
  --color-light-border: rgba(0, 0, 0, 0.05);
  --color-white-border: rgba(0, 0, 0, 0.1);
  --color-light-hover: rgba(0, 0, 0, 0.05);
  --color-white-hover: rgba(0, 0, 0, 0.05);
  --color-dark: var(--color-black);
  --color-dark-border: rgba(255, 255, 255, 0.1);
}

.dark:root {
  --color-primary: var(--color-green800);
  --color-primary-accent: var(--color-green400);
  --color-gradient: linear-gradient(
    to bottom,
    hsla(158, 23%, 18%, 0) 0%,
    hsla(158, 23%, 18%, 0.013) 9.7%,
    hsla(158, 23%, 18%, 0.049) 18.1%,
    hsla(158, 23%, 18%, 0.104) 25.5%,
    hsla(158, 23%, 18%, 0.175) 31.9%,
    hsla(158, 23%, 18%, 0.259) 37.7%,
    hsla(158, 23%, 18%, 0.352) 43%,
    hsla(158, 23%, 18%, 0.45) 47.9%,
    hsla(158, 23%, 18%, 0.55) 52.8%,
    hsla(158, 23%, 18%, 0.648) 57.7%,
    hsla(158, 23%, 18%, 0.741) 63%,
    hsla(158, 23%, 18%, 0.825) 68.7%,
    hsla(158, 23%, 18%, 0.896) 75%,
    hsla(158, 23%, 18%, 0.951) 82.2%,
    hsla(158, 23%, 18%, 0.987) 90.5%,
    hsl(158, 23%, 18%) 100%
  );
  --color-white30: hsla(160, 52%, 71%, 0.05);
  --color-white50: hsla(160, 52%, 71%, 0.1);
  --color-backdrop: hsla(158, 23%, 18%, 0.7);
  --color-primary-border: hsla(160, 52%, 71%, 0.2);
  --color-text-primary: var(--color-green400);
  --color-text-secondary: var(--color-green300);
  --color-text-tertiary: var(--color-green800);
  --color-text-quarterly: var(--color-green800);
  --color-text-ai: var(--spectrum-purple-200);
  --color-dark: var(--color-white);
  --color-light: #2c2c2c;
  --color-lightgrey: var(--color-light);
  --color-opaque: hsla(160, 52%, 71%, 0.1);
  --color-light-border: hsla(160, 52%, 71%, 0.2);
  --color-white-border: hsla(0, 0%, 100%, 0.2);
  --color-light-hover: hsla(160, 52%, 71%, 0.1);
  --color-white-hover: hsla(0, 0%, 100%, 0.1);
  --color-blue: hsla(205, 90%, 48%, 1);
  --color-lightblue: hsla(205, 71%, 68%, 1);
  --color-tertiary: hsla(0, 0%, 100%, 0.1);
  --color-selector: var(--color-green800);
  --color-white-flash: hsla(0, 0%, 100%, 0.2);
  --spectrum-clay-400: rgba(255, 255, 255, 0.1);
  --spectrum-clay-500: #637871;
  --fill: var(--color-primary-accent);
  --_fill: var(--fill, var(--color-primary));
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}

.cs {
  --_fill: var(--fill, var(--color-primary));
  fill: var(--_fill);
}
