.navbarActive {
  /* color: #8fdcc2; */
  background-color: hsla(45, 17%, 95%, 0.8);
}
.blur {
  background: var(--color-backdrop);
  backdrop-filter: blur(20px) saturate(1.7);
  -webkit-backdrop-filter: blur(20px) saturate(1.7);
}
.header {
  /* background-size: 400% 400%; */
  width: 100%;
  background: linear-gradient(-45deg, #d9b99b, #faf0e6, #fff0db, #eed9c4);
  animation: animate 15s ease infinite;
}

.trans {
  transition: all 0.8s ease-in-out;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
