.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  height: 40px;
  margin-top: 10px;
}
